/*
 * Reset
 */
html,
body,
p,
h1, h2, h3, h4, h5, h6
ol, ul,
pre,
address,
blockquote,
dl,
div,
fieldset,
form,
hr,
noscript,
table {
  padding: 0;
  margin: 0;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
 * Typography
 */

html {
    background: #FAFAFA;
    font-family: "Helvetica Neue", "Roboto", "Open Sans", sans-serif;
}

body {
  color: #333;
  font-size: 1.125em;
  line-height: 1.5em;
}

h1 {
    color: #000;
    font-size: 3em;
    font-weight: lighter;
    margin: 1.25em auto;
    letter-spacing: .125em;
    text-align: center;
}

h3 {
  border-top: .125em solid #FAFAFA;
  font-size: 1em;
  margin: 0 -1em;
  padding: .5em 1em 0;
}

a {
  color: #3498DB;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*
 * Layout
 */

 .main {
   border-right: .0625em solid #FAFAFA;
 }

.side {
  border-left: .0625em solid #FAFAFA;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.container {
  background: #FFF;
  margin: 2em auto;
  max-width: 45em;
  width: 90%;
}

.column {
  float: left;
  padding-left:1em;
  padding-right:1em;
}

.column.full {
  width: 100%;
}

.column.main {
  width: 70%;
}

.column.side {
  width: 30%;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.row {
  *zoom: 1;
}

/*
 * Chats
 */

.chat {
  border-top: .125em solid #FAFAFA;
  box-sizing: border-box;
  cursor: pointer;
  padding: .75em 1em;
  margin: 0 -1em;
  word-wrap: break-word;
}

.chat:hover {
  color: #FFF;
  background:#3498DB;
}

.chat .username {
    font-weight: bold;
}

.chat .date {
  color: #CCC;
  float: right;
  font-size: .65em;
}

#chats .friend {
   color: #fff;
   background-color: #3498DB;
}

/*
 * Sidebar
 */

.menu {
  font-size: .75em;
  margin-bottom: 1em;
  word-wrap: break-word;
}

.menu li a {
  cursor: pointer;
  display: block;
  padding: .5em 0;
  line-height: 1em;
  text-decoration: none;
}

.menu li a:hover {
  text-decoration: underline;
}

.menu li a.selected {
  color: #FFF;
  background: #3498DB;
  padding-left: .5em;
  text-decoration: none;
}

.menu hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: .125em solid #FAFAFA;
  margin: .5em 0;
  padding: 0;
}

/*
 * Input Form
 */

 form {
   margin: 0 0 1.5em;
 }

input[type="text"] {
  font-size:.75em;
  width: 80%;
  padding: .6666em;
  border: .125em solid #EEE;
}

*:hover,
*:active,
*:focus {
  outline: none;
}
input[type="text"]:focus {
  border: .125em solid #3498DB;
}

.submit {
  background: #3498DB;
  border: none;
  color: #FFF;
  cursor: pointer;
  padding: 1em 1.5em;
  text-transform: uppercase;
  width: 20%;
  float: right;
}

.submit:hover {
  background: #2980b9;
  color: #FFF;
}

.submit:active {
  background: #34495e;
}

select.room {
    width: 100%;
}

.error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

/*
 * Miscellaneous
 */

.success {
    margin-top: 25px;
}

.success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

.spinner {
    display: block;
    margin: 0 auto;
    padding: 1em;
    position: absolute;
    top: 1em;
    right: 1em;
    height: 20px;
}
