/*
 * Typography and Page Layout
 */

html {
    background: #FAFAFA;
    font-family: "Helvetica Neue", "Roboto", "Open Sans", sans-serif;
}

body {
  background: #FFF;
  color: #333;
  font-size: 1.125em;
  line-height: 1.5em;
  margin: 3em auto;
  padding: 1em;
  width: 35em;
  position: relative;
}

h1 {
    color: #000;
    font-size: 3em;
    font-weight: lighter;
    letter-spacing: .125em;
    text-align: center;
}

/*
 * Chats
 */

#chats {
  margin: 1em -1em -1em;
}

.chat {
  border-top: .125em solid #FAFAFA;
  box-sizing: border-box;
  cursor: pointer;
  padding: .5em 1em;
}

.chat .username {
    font-weight: bold;
}

.chat:hover {
    border-top: .125em solid #EEE;
    background:#FAFAFA;
}

.chat:last-of-type {
  border-bottom: .125em solid #EEE;
}

.chat:last-of-type:hover {
  border-bottom: .125em solid #FAFAFA;
}

/*
 * Input Form
 */

select.room {
    width: 100%;
}

.error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

/*
 * Social
 */

.friend,
.friend:hover {
   color: #fff;
   background-color: #0090da;
}


/*
 * Miscellaneous
 */

.success {
    margin-top: 25px;
}

.success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

.spinner {
    display: block;
    margin: 0 auto;
    padding: 1em;
    position: absolute;
    top: 1em;
    right: 1em;
    height: 20px;
}